<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <div class="topnav">
        <a class="active" href="http://localhost:8080">Account Overview</a>
        <a href="https://www.xfinity.com/learn/offers?CMP=ILC_shop_myxfinity_re&pc=1">TV</a>
        <a href="https://www.xfinity.com/learn/offers?CMP=ILC_shop_myxfinity_re&pc=1">Internet</a>
        <a href="https://www.xfinity.com/learn/offers?CMP=ILC_shop_myxfinity_re&pc=1">Home</a>
        <a href="cases">Cases Test Link</a>
    </div>
    <body id="casebody">
        <div>
            <button id="helpButton" type="button">Request Contact From An Agent</button>
        </div>
        <span th:text="${cases}"></span>

        <div class="d-inline-flex p-2 bd-highlight">
            <div class="flex-chatbox">
                <h4 class="caseBoxes">Case Number: <span>123456</span> </h4>
            </div>
            <div class="flex-chatbox">
                <h4 class="caseBoxes">Case Status: <span>Under Review</span> </h4>
            </div>
        </div>

        <div id="wrapper">
            <div id="menu">
                <p class="welcome">Welcome, <span th:text="${username}"></span></p>
                <p class="logout"><a id="exit" href="http://localhost:8080">Exit</a></p>
                <div style="clear:both"></div>
            </div>

            <div id="chatbox"></div>

            <form name="message" action="">
                <input name="usermsg" type="text" id="usermsg" size="63"/>
                <input name="submitmsg" type="submit"  id="submitmsg" value="Send"/>
            </form>
        </div>


    </body>
</html>