<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div class="topnav">
    <a class="active" href="#index">Home</a>
    <a href="https://www.xfinity.com/learn/offers?CMP=ILC_shop_myxfinity_re&pc=1">TV</a>
    <a href="https://www.xfinity.com/learn/offers?CMP=ILC_shop_myxfinity_re&pc=1">Internet</a>
    <a href="https://www.xfinity.com/learn/offers?CMP=ILC_shop_myxfinity_re&pc=1">Home</a>
    <a href="cases">Cases Test Link</a>
</div>

<div>
    <button id="helpButton" type="button">Request Contact From An Agent</button>
</div>


</body>