<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div class="topnav">
    <a class="active" href="#index">Home</a>
    <a href="https://www.xfinity.com/learn/offers?CMP=ILC_shop_myxfinity_re&pc=1">TV</a>
    <a href="https://www.xfinity.com/learn/offers?CMP=ILC_shop_myxfinity_re&pc=1">Internet</a>
    <a href="https://www.xfinity.com/learn/offers?CMP=ILC_shop_myxfinity_re&pc=1">Home</a>
</div>

<div class="borderBox">
    <p>Hello Name, anything we can help you with today?</p>
    <hr>
</div>

<div class="borderBox">
    <h1>Account Information</h1>
    <hr>
    <p>Username</p>
    <hr>
</div>

<div class="borderBox">
    <h1>Support</h1>
    <hr>
    <p>Insert Case Numbers Here</p>
    <hr>
</div>

<div class="borderBox">
    <h1>Billing Overview</h1>
    <hr>
    <p>Date Due: July 7<br>
        Amount Due: $99.99</p>
    <hr>
    <p>Make a payment</p>
    <hr>
    <p>View bill details & history</p>
    <hr>
    <p>Manage billing preferences</p>
    <hr>
</div>

<div class="borderBox">
    <h1>TV</h1>
</div>

<div class="borderBox">
    <h1>Internet</h1>
</div>

<div class="borderBox">
    <h1>Home</h1>
</div>

</body>
</html>>